# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=isE4fi6ZnD5T1phzTAy5lUt2zqoH5zUHWkONDlzly+KGh5WSoYQYp0ffOth/O1iBibby+Qy3oQhioV2Adi/pvgEIWtIpoCKO+M/zHP+1dab/Gcm8s7AnAgtc0Vq3G0Ci4iGdkVmuHto71q5lQslsTAdB04t89/10/w1cDnyIlFU=
LINE_CHANNEL_SECRET=860416f5696fb67c18d55d6f0575f96c

# Google Cloud
GOOGLE_PROJECT_ID=carwashbooking-502611
GOOGLE_CALENDAR_ID=ba7fe62c075319e36884d0ec52c9f7defd7d2ce5828f8b3deeddا7890cb26a91@group.calendar.google.com

# Server
PORT=3000
NODE_ENV=production
